<div class="jumbotron g" style="margin-bottom:0px;">
    <div id="card-bar-one" class="container-fluid">
        <div id="card-bar-center-one" class="container">
            <div class="row" id="jtext" style="font-size: 1em;">
                <div class="col-sm">
                    <p id="bhead">Popular Databases
                    <p>
                    <p>All India Complete Database</p>
                    <p>B2B / B2C Indian Companies Database</p>
                    <p>Government Employees Database</p>
                    <p>All India Students Database</p>
                    <p>All India Students Database</p>
                </div>
                <div class="col-sm">
                    <p id="bhead">Important Links
                    <p>
                    <p>Shop</p>
                    <p>Cart</p>
                    <p>About Us</p>
                    <p>Blog</p>
                </div>
                <div class="col-sm">
                    <p id="bhead">Other Links</p>
                    <p>Privacy Policy</p>
                    <p>Terms & Conditions</p>
                    <p>Refund & Cancellation Policy</p>
                    <p>Contact Us</p>
                    <p>Why Choose Us?</p>
                </div>
                <div class="col-sm">
                    <p id="bhead">DATABASE CATEGORIES</p>
                    <p>B2B / B2C Indian Companies Database</p>
                    <p>Government Employees Database</p>
                    <p>Facebook Users Database</p>
                    <p>OLX Users Database</p>
                    <p>IT Professionals Database</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid" id="footbg">
        <div class="container" id="foot-mid">
            <div id="foot-mid-left" class="container">
                <p> ABOUT US CONTACT US SHOP</p>
                <p>Copyright 2020 © Data Export</p>
            </div>
            <div id="foot-mid-right" class="container">
                <img src="./img/foot.PNG">
            </div>
        </div>
    </div>
</div>