<html>
    <head>
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
        <div id="top-bar" class="container-fluid">
            <div id="top-bar-center" class="container-sm">
                <div id="top-bar-left" class="container-sm">
                    <p>
                        SAVE 25% USE COUPON : <u>FLAT25</u>
                    </p>
                </div>
                <div id="top-bar-right" class="container-sm">
                    <a href="#" role="button">Login</a>
                    <a href="#" role="button">About us</a>
                    <a href="#" role="button">Contace us</a>
                    <a id="shop" href="#" role="button">Shop</a>
                </div>
            </div>
        </div>
        <div id="c"></div>
        <div id="second-bar" class="container-fluid">
            <div id="second-bar-center" class="container-sm">
                <div id="second-bar-left" class="container-sm">
                    <img src="./img/logo.png">
                </div>
                <div id="second-bar-mid" class="container-sm">
                    <a href="#">HOME</a>
                    <a href="../b2b.html">B2B & B2C</a>
                    <a href="#" >GOVERMENT</a>
                    <a href="#" >STUDENTS</a>
                    <a href="#" >JOB SEEKERS</a>
                    <a href="#" >ALL INDIA</a>
                    <a href="#" >OTHER DATABASES</a>
                </div>
                <div id="second-bar-right" class="container-sm">
                    <a href="#"><img src="./img/right.PNG"></a>
                </div>
        
            </div>
        </div>
    </body>
</html>
<div id="top-bar" class="container-fluid">
    <div id="top-bar-center" class="container-sm">
        <div id="top-bar-left" class="container-sm">
            <p>
                SAVE 25% USE COUPON : <u>FLAT25</u>
            </p>
        </div>
        <div id="top-bar-right" class="container-sm">
            <a href="#" role="button">Login</a>
            <a href="#" role="button">About us</a>
            <a href="#" role="button">Contace us</a>
            <a id="shop" href="#" role="button">Shop</a>
        </div>
    </div>
</div>
<div id="c"></div>
<div id="second-bar" class="container-fluid">
    <div id="second-bar-center" class="container-sm">
        <div id="second-bar-left" class="container-sm">
            <img src="./img/logo.png">
        </div>
        <div id="second-bar-mid" class="container-sm">
            <a href="#">HOME</a>
            <a href="../b2b.html">B2B & B2C</a>
            <a href="#" >GOVERMENT</a>
            <a href="#" >STUDENTS</a>
            <a href="#" >JOB SEEKERS</a>
            <a href="#" >ALL INDIA</a>
            <a href="#" >OTHER DATABASES</a>
        </div>
        <div id="second-bar-right" class="container-sm">
            <a href="#"><img src="./img/right.PNG"></a>
        </div>

    </div>
</div>
