<div id="top-bar" class="container-fluid">
    <div id="top-bar-center" class="container-sm">
        <div id="top-bar-left" class="container-sm">
            <p>
                SAVE 25% USE COUPON : <u>FLAT25</u>
            </p>
        </div>
        <div id="top-bar-right" class="container-sm">
            <a href="#" role="button">Login</a>
            <a href="#" role="button">About us</a>
            <a href="#" role="button">Contace us</a>
            <a id="shop" href="#" role="button">Shop</a>
        </div>
    </div>
</div>
<div id="c"></div>
<div id="second-bar" class="container-fluid">
    <div id="second-bar-center" class="container-sm">
        <div id="second-bar-left" class="container-sm">
            <img src="./img/logo.png">
        </div>
        <div id="second-bar-mid" class="container-sm">
            <a href="#" role="button">HOME</a>
            <a href="#" role="button">B2B & B2C</a>
            <a href="#" role="button">GOVERMENT</a>
            <a href="#" role="button">STUDENTS</a>
            <a href="#" role="button">JOB SEEKERS</a>
            <a href="#" role="button">ALL INDIA</a>
            <a href="#" role="button">OTHER DATABASES</a>
        </div>
        <div id="second-bar-right" class="container-sm">
            <a href="#"><img src="./img/right.PNG"></a>
        </div>

    </div>
</div>